.movie-detail__section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 48px;
    align-items: center; 
    padding-block: 32px;
  }
  
  .movie-detail__info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 24px;
  }
  
  .movie-detail__video {
    width: 100%;
    height: 400px;
    aspect-ratio: 16 / 9;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
  }
  
  .movie-detail__video iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    object-fit: contain;

  }
  
  
  
  .movie-detail__watch {
    font-size: 14px;
    color: var(--color-base-100);
  }
  
  


  @media (max-width: 844px) {
    .movie-detail__section {
      display: flex;
      flex-direction: column;
    }
  }

    @media (max-width: 796px) {
    .movie-detail__video {
      width: 100%;
      height: auto;         
      aspect-ratio: 16 / 9;
      }
    .movie-detail__video iframe {
      width: 100%;
      height: 100%;          
 
      
    }
  }

