* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap');

:root {
--font-header: 'Syne', sans-serif;
--font-body_or_subHeader: 'Inter', sans-serif;

--color-primary: #ECD5AC;
--color-primary-transparent: rgba(236, 213, 172, 0.2);
--color-accent: #ACC3EC;
--color-accent-transparent: rgba(172, 195, 236, 0.25);
--color-base-100: #fff;
--color-base-800: #09090E;
--color-base-900: #000000;
}

body{
  background-color: var(--color-base-800);
  overflow-x: hidden;
}

h1, h2{
  font-family: var(--font-header);
  color: var(--color-base-100);
  font-weight: 580;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


h3, h4, p{
  font-family: var(--font-body_or_subHeader);
  color: var(--color-base-100)
}


h1{
  font-size: 40px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h4{
  font-size: 14px;
  font-weight: 400;
}

p{
  font-size: 12px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  gap: 20px; /* gutter de figma */
  padding-left: 56px;
  padding-right: 56px;
  margin: 0 auto;
}

/* === Columnas Grid globales === */
.grid-1 { grid-column: span 1; }
.grid-2 { grid-column: span 2; }
.grid-3 { grid-column: span 3; }
.grid-4 { grid-column: span 4; }
.grid-5 { grid-column: span 5; }
.grid-6 { grid-column: span 6; }
.grid-7 { grid-column: span 7; }
.grid-8 { grid-column: span 8; }
.grid-9 { grid-column: span 9; }
.grid-10 { grid-column: span 10; }
.grid-11 { grid-column: span 11; }
.grid-12 { grid-column: span 12; }


.btn{
  min-width: 136px;
  width: 136px;
  padding: 12px 20px;
  border-radius: 18px;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.btn--primary{
  background-color: var(--color-primary);
  border: none;
    p{
      color: var(--color-base-900);
      font-weight: 600;
    }
}

.btn--primary:hover {
  background-color: var(--color-accent);
}

.btn--secondary{
  background-color: var(--color-primary-transparent);
  border: 1px solid var(--color-primary);
    p{
      color: var(--color-primary);
    }
}

.btn--secondary:hover{
  border-color: var(--color-accent);
  background-color: var(--color-accent-transparent);
    p{
      color:var(--color-accent);
    }
}